.HomeColorFrame {
  border: 5px solid red;
  width: 80%;
  height: 70%;
  display: flex;
  z-index: 10;
  position:fixed;
  top:15%;
  justify-content: center;
 //justify-items: center;
}

.HomeBoxImage {
  position: fixed;
  width: 350px;
  height: 400px;
  z-Index: 2;
  justify-Content: center;
  display: flex;
  top: 20%;
}

@media only screen and (min-width: 400px) {
  .HomeColorFrame {
    border: 5px solid rgb(126, 201, 1);
    top: 25%;
    width: 65%;
    height: 50%;

  }
  .HomeHeadlineBox {
    width: 250px;
    display: flex;
    height: 70px;
    background-color: rgb(33, 30, 210);
    padding: 16px;
    top: 49%;
    left: 30%;
  }

  .HomeBoxImage {
    width: 450px;
    height: 500px;
   
  }
  
}

@media only screen and (min-width: 900px) {
  .HomeColorFrame {
   border: 5px solid red;
   
  // height: 50%;
  
 
   position: fixed;
  }
  .HomeBoxImage {
    left:20%
 
  }
  .HomeHeadlineBox{
    
  }

}

@media only screen and (min-width: 1500px) {
  .HomeColorFrame {
   border: 5px solid rgb(33, 30, 210);

 
  }
  .HomeBoxImage {

 
  }
  .HomeHeadlineBox{
    
  }

}
