.HomeColorFrame {
  border: 5px solid rgb(255, 0, 221);
  width: 70%;
  height: 58%;
  max-width: 70%;
  display: flex;
  z-index: 10;
  position: fixed;
  top: 27%;
  justify-content: center;
  //justify-items: center;
}

.HomeBoxImage {
  top: 30%;
  width: 200px;
  height: 50%;
  z-index: 2;
  justify-content: center;
  display: flex;
  position: fixed;
}

@media only screen and (min-width: 300px) {
  .HomeColorFrame {
    border: 5px solid rgb(126, 201, 1);
    width: 40%;
    height: 58%;
    max-width: 70%;
  }
  .HomeHeadlineBox {
    width: 250px;
    position: fixed;
    display: flex;
    height: 70px;
    background-color: rgb(33, 30, 210);
    padding: 16px;
    top: 35%;
    z-index: 10;
    right: 10%;
  }

  .HomeBoxImage {
    top: 30%;
    width: 250px;
    height: 50%;
  }
}

@media only screen and (min-width: 600px) {
  .HomeColorFrame {
    top: 20%;
    border: 5px solid rgb(208, 161, 172);
    width: 50%;
    height: 60%;
    max-width: 50%;
    position: fixed;
  }
  .HomeHeadlineBox {
    background-color: rgb(210, 174, 30);
  }
  .HomeBoxImage {
    top: 15%;
    width: 40%;
    height: 70%;
    max-width: 40%;
  }
  .HomeHeadlineBox {
  }
}

@media only screen and (min-width: 1400px) {
  .HomeColorFrame {
    top: 20%;
    border: 5px solid rgb(210, 30, 72);
    width: 50%;
    height: 60%;
    max-width: 50%;
  }
  .HomeBoxImage {
    width: 30%;
    top: 10%;
    height: 80%;
    max-width: 30%;
  }
  .HomeHeadlineBox {
  }
}
