.HomeColorFrame {
  border: 5px solid rgb(255, 0, 221);
  width: 180px;
  height: 50%;
  max-width: 70%;
  display: flex;
  z-index: 10;
  position: fixed;
  top: 30%;
  justify-content: center;
  //justify-items: center;
}

.HomeBoxImage {
  top: 35%;
  width: 160px;
  height: 40%;
  z-index: 2;
  justify-content: center;
  display: flex;
  position: fixed;
}

@media only screen and (min-width: 300px) {
  .HomeColorFrame {
    border: 5px solid rgb(126, 201, 1);
    width: 60%;
    height: 50%;
    top: 35%;
    max-width: 60%;
  }
  .HomeHeadlineBox {
    width: 240px;
    position: fixed;
    display: flex;
    height: 70px;
    background-color: rgb(33, 30, 210);
    padding: 16px;
    top: 35%;
    z-index: 10;
    right: 10%;
  }

  .HomeBoxImage {
    top: 30%;
    width: 250px;
    height: 60%;
  }
}

@media only screen and (min-width: 600px) {
  .HomeColorFrame {
    top: 20%;
    border: 5px solid rgb(208, 161, 172);
    width: 50%;
    height: 65%;
    min-width: 60%;
    position: fixed;
  }
  .HomeHeadlineBox {
    background-color: rgb(210, 174, 30);
  }
  .HomeBoxImage {
    top: 10%;
    width: 350px;
    height: 80%;
    left: 35%;
  }
  .HomeHeadlineBox {
  }
}

@media only screen and (min-width: 1000px) {
  .HomeColorFrame {
    top: 20%;
    border: 5px solid rgb(210, 30, 72);
    width: 50%;
    height: 60%;
    max-width: 50%;
  }
  .HomeBoxImage {
    width: 350px;
    height: 80%;
    top: 10%;
    left: 35%;
   
  }
  .HomeHeadlineBox {
  }
}