.LayoutMainBox {
  display: flex;
  flex-direction: column;
  .LayoutColorOneBox {
    background-color: aqua;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
  }
  .LayoutContinerBox {
    .LayoutColorTwoBox {
      background-color: rgb(0, 255, 21);
      width: 100%;
      height: 200px;
      display: flex;
    }
  }
}
@media only screen and (min-width: 600px) {
  .LayoutMainBox {
    flex-direction: column;
    .LayoutColorOneBox {
      background-color: rgb(255, 115, 0);
      flex-direction: column;
      width: 40%;
      height: 100%;
    }
    .LayoutContinerBox {
      flex-direction: row;
      display: flex;
      .LayoutColorTwoBox {
        background-color: rgb(170, 121, 81);
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .LayoutMainBox {
    .LayoutColorOneBox {
    }
    .LayoutContinerBox {
      .LayoutColorTwoBox {
        background-color: rgb(55, 0, 255);
      }
    }
  }
}
