.LayoutColorSideBox{
  width: 100%;
  height: 10%;
  background-color:pink;
  
}
.LayoutMainBox {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color:black;
  .LayoutContinerBox {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    background-color:royalblue;
  }
 
  .LayoutColorBox {
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 50%;
   
  }
  
}


@media only screen and (min-width: 600px) {
  .LayoutColorSideBox{
 
    background-color:indianred
    
  }
  .LayoutMainBox {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    background-color:black;
    .LayoutContinerBox {

      background-color:rgb(164, 225, 65);
    }
   
    .LayoutColorBox {
    
      background-color: aqua;
     
     
    }
    
  }
  
}

@media only screen and (min-width: 900px) {
 
}
